<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/jquery.qtip.min.css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />

    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')}}">
</head>
<body>
<!-- Load JQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.switch-button.js') }}"></script>

<!-- Top Menu -->
<div class="w3-container top">
    <img src="../static/images/MedtricsLogo-01.png" />
    <div class="button-container">
        <button class="button1" id="upload_btn">Upload data</button>
        <button class="button1" id="clear_btn">Clear</button>
        <button class="button1" id="greedy_schedule_btn">Greedy Schedule</button>
        <button class="button1" id="solver_schedule_btn">Solver Schedule</button>
        <button class="button2" id="save_btn">Save CSV</button>
    </div>
    <div id="switch-wrapper" class="switch-wrapper">
        <input type="checkbox" class="chck" value="1" checked>
    </div>
    <div class="radio-container">
        <form id="radio-form">
            <input type="radio" name="mode" value="whole_block" checked> Whole block<br>
            <input type="radio" name="mode" value="quarter_block"> Quarter block
        </form>
    </div>
    <!-- Role Navication bar -->
    <div class="nav-menu">
        <ul class="nav nav-pills orange">
            <li class="active"><a data-toggle="tab" href="#pgy1" onclick="changeMode('PGY1')" id ="PGY1-tab">PGY1</a>
            </li>
            <li><a data-toggle="tab" href="#pgy2" onclick="changeMode('PGY2')" id ="PGY2-tab">PGY2</a></li>
            <li><a data-toggle="tab" href="#pgy3" onclick="changeMode('PGY3')" id ="PGY3-tab">PGY3</a></li>
            <li><a data-toggle="tab" href="#warning" id ="Warning-tab">Warning</a></li>
        </ul>
    </div>
</div>

<!-- Load the pixi.js library -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pixi.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chance.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Utility.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Helper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Class.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Visualization.js') }}"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>

</body>
</html>