<!DOCTYPE html>
<html>
<head>
</head>
<body>
<!-- Load the pixi.js library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pixi.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chance.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Utility.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Helper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Class.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Visualization.js') }}"></script>
</body>
</html>